body{
	padding-top: 50px;
}
form_label{
	display: inline-block;
	margin-right: 15px;
	padding: 3px 0px;
	width: 200px;
	min-height: 1px;
	text-align: right;
}
input{
	padding: 2px;
	border: 1px solid #CCC;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
input:focus{
	border-color: rgba(82. 168, 236, 0.75);
	-moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
	-webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

span {
	background-color: red;
	border-radius: 2px;
	padding: 3px 3px 3px 3px;
}
